@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin 'daisyui/theme' {
  name: "light";
  default: true;
  --color-primary: #14b8a6;
  --color-secondary: #000000;
  --color-accent: #7e7e7e;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge */
html {
  -ms-overflow-style: none;
}

body {
  font-family: var(--font-inter), sans-serif;
}

.heading-container {
  @apply flex flex-col justify-center items-center text-center gap-3;
}

.heading {
  @apply text-primary text-center font-bold text-xl uppercase;
}

.sub-heading {
  @apply max-w-2xl text-accent tracking-wide font-medium;
}

.input-style {
  @apply input focus:outline-none;
}

.logo {
  @apply text-xl md:text-2xl font-semibold;
}

/* Swipper css */

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--color-accent) !important;
  opacity: 1;
  margin: 0 10px;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
  width: 28px;
  border-radius: 10px;
}

.swipper_pagination_arrow {
  @apply z-20 cursor-pointer p-3 rounded-full bg-white shadow-lg hover:shadow-xl transition-all hover:bg-primary hover:text-white active:scale-90 duration-200;
}
