@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin 'daisyui/theme' {
  name: "light";
  default: true;
  --color-primary: #14b8a6;
  --color-secondary: #000000;
  --color-base-200: #7e7e7e;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge */
html {
  -ms-overflow-style: none;
}

body {
  font-family: var(--font-inter), sans-serif;
}

.heading {
  @apply text-primary text-center font-bold text-xl uppercase;
}

.sub-heading {
  @apply text-3xl md:text-5xl font-bold text-center leading-10 md:leading-16;
}

.input-style {
  @apply input focus:outline-none;
}
