@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

body {
  font-family: var(--font-inter), sans-serif;
}

.heading-font {
  font-family: var(--font-urbanist), sans-serif;
}

.input-style {
  @apply input focus:outline-none;
}
