@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge */
html {
  -ms-overflow-style: none;
}

body {
  font-family: var(--font-inter), sans-serif;
}



.heading-font {
  font-family: var(--font-urbanist), sans-serif;
}

.input-style {
  @apply input focus:outline-none;
}
